html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 

/* End Reset */

@font-face {
    font-family: 'opensans';
    src: url('../fonts/opensans.eot');
    src: url('../fonts/opensans.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans.woff') format('woff'),
         url('../fonts/opensans.ttf') format('truetype'),
         url('../fonts/opensans.svg#opensans') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensans';
    src: url('../fonts/opensans_semibold.eot');
    src: url('../fonts/opensans_semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans_semibold.woff') format('woff'),
         url('../fonts/opensans_semibold.ttf') format('truetype'),
         url('../fonts/opensans_semibold.svg#opensans_semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'opensans';
    src: url('../fonts/opensans_light.eot');
    src: url('../fonts/opensans_light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans_light.woff') format('woff'),
         url('../fonts/opensans_light.ttf') format('truetype'),
         url('../fonts/opensans_light.svg#opensans_light') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'opensans';
    src: url('../fonts/opensans_italic.eot');
    src: url('../fonts/opensans_italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans_italic.woff') format('woff'),
         url('../fonts/opensans_italic.ttf') format('truetype'),
         url('../fonts/opensans_italic.svg#opensans_italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'bebas';
    src: url('../fonts/bebas.eot');
    src: url('../fonts/bebas.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebas.woff') format('woff'),
         url('../fonts/bebas.ttf') format('truetype'),
         url('../fonts/bebas.svg#bebas') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'droid mono';
    src: url('../fonts/DroidSans-Mono.eot');
    src: url('../fonts/DroidSans-Mono.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DroidSans-Mono.woff') format('woff'),
         url('../fonts/DroidSans-Mono.ttf') format('truetype'),
         url('../fonts/DroidSans-Mono.svg#Bitter-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@-webkit-keyframes vanish {
    from {opacity: 1;}
    to {opacity: 0;}
}

/* Standard syntax */
@keyframes vanish {
    from {opacity: 1;}
    to {opacity: 0;}
} 

body {
	font-family: 'opensans';
	font-size: 62.5%;
    line-height: 2em;
    color: #2b2b2b;
	background-color: #ebebeb;
	padding-left: 320px;
	overflow-x: hidden;
}

*:focus {
    outline: 0;
}

input:required, input:invalid, textarea:required {
    box-shadow:none;
}

#firsttime {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.8);
	z-index: 99999999;
	display: none;
}

.messagebox {
	background-color: rgba(90, 184, 28, 0.8);
	padding: 10px;
	font-size: 1.6em;
	position: fixed;
	-webkit-animation: vanish .5s linear 2s;
	animation: vanish .5s linear 2s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

#alrsub {
	background-color: rgba(128, 128, 128, 0.8);
}

#wemail {
	background-color: rgba(184, 28, 28, 0.8);
}

#content, #sidebar, #box {
	padding: 29px 60px;
	font-size: 1.6em;
}

#box {
	width: 500px;
	position: fixed;
	top: 60px;
	left: 50%;
	margin-left: -290px;
	color: #2b2b2b;
	background-color: #ebebeb;
	padding: 29px 40px 40px 40px;
}

#box h2 {
	margin: 1px 0px 0px;
}

#box p {
	clear: both;
	float: none;
	margin-bottom: 20px;
}

#close {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 40px;
	height: 40px;
	background-color: #2b2b2b;
	border: none;
	cursor: pointer;
}

#close:before, #close:after {
	content: '';
	width: 2px;
	height: 20px;
	display: block;
	background-color: #ebebeb;
	border-radius: 2px;
	position: absolute;
	top: 10px;
	right: 19px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transition: all .1s linear;
	-webkit-transition: all .1s linear;
}

#close:after {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

#close:hover:before, #close:hover:after {
	background-color: red;
}

#mobile {
	display: none;
}

#sidebar {
	background-color: #2b2b2b;
	color: #ebebeb;
	width: 320px;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 999999;
	padding: 0px;
	overflow: hidden;
	border-right: 1px solid #cbcbcb;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

header {
	border-bottom: 1px solid #1b1b1b;
	position: relative;
	z-index: 99999;
}

header:after, footer:after {
	content: '';
	display: block;
	width: 100%;
	height: 1px;
	background-color: #313131;
}

header img {
	padding: 25px 140px 15px 127px;
}

#sidebar form {
	overflow-x: hidden;
	width: 320px;
}

#mainul {
	overflow-y: scroll;
	overflow-x: hidden;
	width: 320px;
	height: auto;
}

#mainul li {
	height: 80px;
	border-top: none;
	border-bottom: 1px solid #1b1b1b;
	overflow: hidden;
	margin: 0px 21px 0px 22px;
}

#mainul li:last-child {
	border: none;
}

label, .left {
	float: left;
}

label {
	padding: 30px 0px;
	height: 20px;
	width: 100px;
	cursor: pointer;
}

label:hover {
	color: #5ab81c;
}

#type {
	position: relative;
}

#type label {
	position: relative;
	z-index: 30;
	width: 128px;
}

#type .left label:before, #type label:after, input[type="text"], input[type="number"],
#mainul table label:after, #mainul table td:last-child label:before {
	content: '';
	display: block;
	width: 60px;
	height: 30px;
	background: #1b1b1b;
	position: absolute;
	left: 100px;
	top: 25px;
}

#type .left label:before, #mainul table label:after, #mainul table td:last-child label:before {
	border-radius: 15px;
}

#type label:after {
	content: '';
	display: none;
	width: 24px;
	height: 24px;
	border-radius: 12px;
	background: #ebebeb;
	position: relative;
	left: 103px;
	top: -22px;
}

#type .right label:after {
	left: auto;
	right: -1px;
}

input[type="radio"] {
	display: none;
}

#type input[type="radio"]:checked + label:after {
	display: block;
}

input[type="text"], input[type="number"], input[type="password"] {
	width: 220px;
	height: 40px;
	border: none;
	font-size: 1em;
	margin: 20px 0px;
	position: static;
	padding: 0px 20px;
	color: #ebebeb;
}

input[type="checkbox"], .right {
	float: right;
	text-align: right;
}

#numvids + label {
	padding-right: 0px;
	width: 188px;
}

input[type="number"] {
	height: 30px;
	width: 28px;
	margin: 25px 0px;
	-moz-appearance:textfield;
	text-align: right;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#mainul #optionstable, #mainul #colors {
	height: auto;
	overflow: visible;
}

table {
	margin: 20px 0px;
	width: 260px;
	position: relative;
}

th, td {
	text-align: left;
	width: 30px;
	border: 5px solid transparent;
	text-align: center;
}

th {
	border-top-width: 0px;
}

td {
	border-bottom-width: 0px;
	vertical-align: bottom;
}

th:first-child, td:first-child {
	width: 60px;
	margin-left: 0px;
	border-left: none;
}

th:last-child, td:last-child {
	border-right: none;
}

table button {
	width: 30px;
	font-family: 'videolayer';
	font-size: 1em;
	border: none;
	background: none;
	color: #ebebeb;
	cursor: pointer;
	text-align: center;
	padding: 0px;
}

table button:hover {
	color: #5ab81c;
}

table th div {
	display: none;
	text-align: left;
	z-index: 40;
	position: absolute;
	background: rgba(255,255,255,.8);
	width: 240px;
	left: 0px;
	top: -50px;
	font-family: 'opensans';
	padding: 10px;
	color: #1b1b1b;
	border: 1px solid #1b1b1b;
}

table th p {
	padding: 10px;
}

table button:hover + div, table h3:hover + div {
	display: block;
}

table th:nth-child(2) div, 
table th:nth-child(4) div{
	top: -90px;
}

table th:nth-child(3) div,
table th:last-child div {
	top: -70px;
}

table #captionsbutton:before {
	content: '\229F';
}

table #repeatbutton:before {
	content: '\221E';
}

table #qualitybutton:before {
	content: '\2191';
}

#mainul table input {
	width: 18px;
	margin: 0px;
	height: 30px;
	padding: 0px 15px;
}

#mainul table input[type="text"] {
	width: 80px;
	padding: 0px 10px;
}

input[type="checkbox"] {
	display: none;
}

#mainul table label {
	padding: 0px;
	width: 0px;
	height: 0px;
	position: relative;
}

#mainul table label:after, #mainul table td:last-child label:before {
	padding: 0px;
	width: 30px;
	height: 25px;
	padding-top: 5px;
	display: block;
	position: static;
	margin-top: -30px;
}

#mainul table td:last-child label:before {
	display: none;
	width: 24px;
	height: 19px;
	background: #ebebeb;
	position: absolute;
	top: 3px;
	left: 3px;
}

#mainul table input[type="checkbox"]:checked + label:after {
	content: '✔';
}

#mainul table input[type="radio"]:checked + label:before {
	display: block;
}

#colors {
	padding: 15px 0px 5px 0px;
}

#colors ul li {
	border: none;
	height: 35px;
	margin: 0px;
}

#colors label {
	padding: 5px 0px;
	width: 226px;
}

.sample {
	float: right;
	cursor: pointer;
}

.sample:hover + label {
	color: #5ab81c;
}

#colorpicker {
	width: 264px;
	overflow: hidden;
	padding-top: 20px;
}
.wrapper {
	position: relative;
	display: block;
	float: left;
	padding-left: 24px;
	height: 152px;
}

#opacitywrapper {
	padding-left: 25px;
}

#mainwrapper, #fields {
	padding: 0px 1px 0px 0px;
	overflow: hidden;
}

#fields {
	width: 260px;
	padding-top: 10px;
	height: 45px;
}
#fields li {
	float: left;
	margin-top: 0px;
}
#fields li:last-child {
	float: right;
}
#fields label {
	width: auto;
	clear: both;
	padding-right: 5px;
}
#fields input {
	margin: 0px;
	display: inline;
}

canvas, #picker, .sample {
	width: 150px;
	height: 150px;
	-moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.barcanvas, .barpicker {
	width: 30px;
	cursor: row-resize;
}
#rgbcanvas {
	cursor: crosshair;
}
#opacitycanvas {
	background: url("../img/oppattern.jpg");
}
.barpicker {
	display: block;
	width: 39px;
	height: 10px;
	margin-top: -4px;
	position: absolute;
	top: 0px;
	left: 19px;
	border: none;
}
#opacitywrapper .barpicker {
	left: 20px;
}

.barpicker:before, .samplebox:before {
	content: '';
	display: block;
	width: 0px;
	height: 0px;
	border: 4px solid transparent;
	border-left-color: #ebebeb;
	float: left;
}

#picker {
	width: 9px;
	height: 9px;
	border: 1px solid #1b1b1b;
	border-radius: 5px;
	position: absolute;
	margin-top: -4px;
	margin-left: -4px;
	left: 149px;
	top: 0px;
	cursor: crosshair;
	box-shadow: none;
}
#colorpicker label:first-child {
	display: block;
	font-size: 1em;
	line-height: 20px;
	text-align: right;
	margin: 0px;
}
.wrapper li {
	margin-bottom: 4px;
}
.wrapper li:first-child {
	margin-top: -5px;
}
.wrapper li:nth-child(3), .wrapper li:last-child {
	margin: 0px 0px 0px 0px;
}
.wrapper li:last-child {
	margin-top: 8px;
}
.wrapper input {
	height: 30px;
	text-align: right;
}
.wrapper li:first-child input {
	width: 67px;
}
.sample {
	width: 30px;
	height: 30px;
	position: relative;		
	background-image: url("../img/oppattern.jpg");
}

footer {
	border-top: 1px solid #1b1b1b;
	height: 80px;
}

section {
	margin-bottom: 100px;
	padding: 39px 60px 60px 60px;
	color: #2b2b2b;
	background-color: #fff;
}

#content {
	width: 90%;
	height: 100%;
}

#title {
	width: 500px;
	margin: 0px auto 19px auto;
	overflow: hidden;
}

h1, #description {
	font-size: 3em;
	line-height: 1em;
	font-family: 'bebas', Arial, sans-serif;
	font-weight: 400;
	margin-bottom: 14px;
}

#title h1 {
	font-size: 7em;
	line-height: 0.75em;
	margin-bottom: 8px;
}

#description {
	font-size: 1.4em;
	color: #888;
	float: left;
	text-transform: none;
	font-weight: normal;
	float: right;
	margin-bottom: 8px;
}

#presentation {
	background: none;
	padding: 0px;
}

#social {
	width: 380px;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
}

#facebook, #twitter {
	background-color: #3B5998;
	margin: 0px 10px 0px 0px;
	bottom: 0px;
	float: left;
}

#twitter {
	background-color: #30D8F0;
	margin-right: 0px;
}

#newsletter, #subscribe {
	-webkit-transition: background-color 0.3s linear, color 0.3s linear, width 0.3s linear;
	transition: background-color 0.3s linear, color 0.3s linear, width 0.3s linear;
}

#newsletter, #submit, #conbox button, #adminpanel button {
	padding: 0px 16px;
	height: 40px;
	bottom: 0px;
	float: right;
	font-size: 1em;
	cursor: pointer;
}

#subscribe {
	width: 0px;
	padding: 2px 0px 0px;
	position: absolute;
	right: 52px;
	height: 36px;
	border: 1px solid #1f1f1f;
	border-right: none;
}

#subscribe.show {
	padding: 2px 10px 0px;
	width: 74px;
}

#facebook:hover {
	background-color: #334D84;
}

#twitter:hover {
	background-color: #11C8E4;
}

video {
	width: 852px;
	height: 0px;
	margin-top: 30px;
	position: relative;
	left: 50%;
	margin-left: -426px;
}

h2 {
	font-size: 1.25em;
	line-height: 2em;
	float: left;
	margin: 1px 0px 11px 0px;
	font-weight: 600;
}

#guide h2, #feedback p {
	margin-left: 20px;
}

code {
	float: left;
	width: 700px;
}

#codesec h2 {
	margin-bottom: 8px;
}

#guide {
	padding-bottom: 38px;
}

#intro {
	overflow: hidden;
	margin: 37px 0px 38px 0px;
}

nav {
	width: 150px;
	float: left;
	overflow: hidden;
}

ol {
    list-style-type: none;
    counter-reset: ol-counter;
}

ol > li:before {
	content: counter(ol-counter) ".";
    counter-increment: ol-counter;
    margin-right: 5px;
}

nav ol a {
	display: block;
	width: 80%;
	float: left;
}

nav ol > li:before {
	float: left;
}

#guidelist > li:before {
    position: absolute;
    left: 0px;
    top: 51px;
    margin: 0px;
    font-size: 18px;
}

#guidelist > li:first-child:before {
	top: 21px;
}

#guidelist li {
	padding-top: 40px;
	position: relative;
}

#guidelist li:first-child {
	padding-top: 10px;
}

#intro p, li p {
	width: 557px;
}

a, a:visited {
	color: #2b2b2b;
	text-decoration: underline;
	-webkit-transition: all .1s linear;
	transition: all .1s linear;
}

a:hover, a:active {
	color: #5ab81c;
}

.boxlink, .boxlink:visited {
	background-color: #5ab81c;
	height: 29px;
	padding: 9px 19px 0px 19px;
	position: relative;
	bottom: -8px;
	color: #ebebeb;
	float: right;
	text-decoration: none;
	text-transform: uppercase;
	border: 1px solid #1b1b1b;
}

.boxlink:hover, .boxlink:active {
	color: #ebebeb;
	background: #4EA018;
}

#codesec .boxlink {
	bottom: -3px;
}

footer .boxlink {
	float: left;
	margin: 20px 0px 0px 20px;
	position: static;
}

.presp {
	margin: 0px 0px 20px 190px;
}

.presp:first-of-type {
	margin-top: 0px;
}

li p {
	margin-bottom: 20px;
	clear: both;
}

.date {
	font-family: 'opensans';
	font-style: italic;
	font-size: 0.9em;
	line-height: 0.9em;
}

.codeblock {
	width: auto;
	overflow-x: scroll;

	clear: both;
	background: #2B2B2B;
	padding: 25px 20px;
	margin: -4px 0px 22px 0px;
	font-family: 'droid mono', Courier, monospace;
	font-size: 0.8em;
	color: #ebebeb;
}

#codesec .codeblock {
	background: #fff;
	color: #2b2b2b;
	border: 1px solid #cbcbcb;
	padding: 24px 19px;
	margin-bottom: 21px;
}

#codesec .codeblock:last-child {
	margin-bottom: 0px;
}

.firstblock {
	margin-bottom: 24px;
}

.bl {
	color: #c61d5c;
}

.tx {
	color: #c8d164;
}

.at {
	color: #88c61d;
}

strong {
	text-decoration: underline;
}

.code {
	padding-left: 20px;
}

.code:last-child {
	margin-bottom: 0px;
}

#feedback {
	overflow: hidden;
}

#feedback li {
	overflow: hidden;
	position: relative;
}

#feedback li:before {
    position: absolute;
    left: 0;
    top: 13px;
}

#feedback p {
	margin-top: 13px;
}

.admin {
	padding: 0px;
}

#conbox, #adminpanel {
	background: #fff;
	width: 262px;
	overflow: hidden;
	padding: 39px;
	margin: 100px auto;
	font-size: 1.6em;
}

.error, #adminpanel .error {
	color: red;
	margin-bottom: 20px;
}

#conbox form, #adminpanel form {
	margin-top: 17px;
}

#conbox label, #adminpanel label {
	padding: 0px;
	float: none;
	display: block;
}

#conbox input, #adminpanel input, textarea {
	resize: none;
	border: 1px solid #1f1f1f;
	background: #fff;
	color: #1f1f1f;
	margin: 9px 0px;
}

#conbox #password, #adminpanel #message {
	margin-bottom: 19px;
}

#adminpanel {
	width: 500px;
	margin-top: 20px;
}

#adminpanel h2 {
	margin-bottom: 8px;
}

#adminpanel div {
	background: #5ab81c;
	width: 100px;
	padding: 0px;
	height: 20px;
	clear: left;
	margin-bottom: 14px;
}

#adminpanel p {
	float: left;
	margin-bottom: 17px;
}

#adminpanel ul {
	overflow: hidden;
	margin-bottom: 18px;
}

#adminpanel input, textarea {
	width: 458px;
}

#adminpanel .high {
	background-color: #5ab81c;
}
#adminpanel .medium {
	background-color: #B7A51C;
}
#adminpanel .low {
	background-color: #b71C1c;
}

textarea {
	padding: 20px;
	height: 140px;
	line-height: 20px;
	font-family: 'opensans', Arial, sans-serif;
}

select {
	clear: left;
	float: left;
	margin: 20px 0px 39px 20px;
	border: 1px solid #1f1f1f;
	padding: 9px;
}

@media screen and (min-width: 1300px) {
	div.vl_ui {
		height: 480px !important;
		left: 50% !important;
	}
}

@media screen and (max-width: 1299px) {
	body {
		padding: 0px;
	}
	#mobile {
		display: block;
	}
	#sidebar, #codesec {
		display: none;
	}
	section {
		margin-bottom: 20px;
	}
	#content {
		margin: 0 auto;
		padding: 29px 0px 0px 0px;
	}
	#guide, #feedback {
		margin-bottom: 0px;
	}
}

@media screen and (max-width: 980px) {
	#content {
		width: 100%;
	}
	.codeblock {
		width: auto;
	}
	#intro p, li p {
		width: auto;
	}
}

@media screen and (max-width: 540px) {
	#content {
		padding-top: 34px;
	}
	section {
		padding: 19px 40px 40px 40px;
	}
	#title {
		width: 285px;
	}
	#title h1 {
		font-size: 4em;
		margin-bottom: 9px;
	}
	nav {
		width: 370px;
		margin-bottom: 20px;
	}
	nav ol a {
		width: 95%;
	}
	#intro {
		margin-bottom: 8px;
	}
	#guidelist li {
		padding-top: 10px;
	}
	#guidelist > li:before {
		top: 21px;
	}
	.presp {
		margin-left: 0px;
	}
	#box {
		width: 240px;
		margin-left: -160px;
		top: 0px;
		height: 251px;
		overflow-y: scroll;
	}
	#close {
		position: fixed;
		right: 50%;
		margin-right: -144px;
	}
	#social {
		width: 200px;
	}
	#newsform {
		float: right;
		margin: 10px 9px 0px 0px;
	}
	#subscribe {
		top: 50px;
		right: 62px;
	}
	#subscribe.show {
		width: 116px;
	}
}